<html>
  
  <head><title><%= title %></title></head>
  <body>
    welcome <%= user%>

    <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
    <div id="followers" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
    <div id="keyWords" style="min-width: 300px; height: 400px; margin: 0 auto"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
     const myobj =<%-JSON.stringify(json)%>
       var RicardoY = myobj["ricardoanayac"]; 
     var JoseAntonioY = myobj["joseameadek"];
     var ManuelLopezY = myobj["lopezobrador_"];
     var MargaritaY = myobj["Mzavalagc"];
     var elotromen = myobj["JaimeRdzNL"];
     var huguez = myobj["_Huguez"];
    </script>
    <script src="js/demo1.js"></script>
    <script src="js/followers.js"></script>
    <script src="js/keyWords.js"></script>
  </body>
</html>
