<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visor Político</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #fec333 ">
        <div class="container">
          <a class= "js-scroll-trigger" href="#page-top">
            <img src="img/index/visorlogo.png" style="height: 50px;">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#page-top" style="color: #253876">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about" style="color: #253876">Acerca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#resSo" style="color: #253876">Responsabilidad social</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#info"  style="color: #253876">Información</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#integrantes"  style="color: #253876">Integrantes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



      <section id="mapa" class="row justify-content-center">
        <div class="card" style="width: 200px;">
          <div class="card-header">
            Municipios
          </div>
          <div class="card-body">
            <li>
              <a href="sede/hermosillo">Hermosillo</a>
            </li>
            <li>
              <a href="sede/navojoa">Navojoa</a>
            </li>
            <li>
              <a href="sede/cajeme">Cajeme</a>
            </li>
            <li>
              <a href="sede/nogales">Nogales</a>
            </li>
            <li>
              <a href="sede/guaymas">Guaymas</a>
            </li>
            <li>
              <a href="sede/slrc">San Luis rc</a>
            </li>
          </div>
        </div>
      </section>

      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Acerca</h2>
              <p class="lead">Visor Político UNISON nace con la idea de crear una plataforma que permita a la sociedad medir el impacto de los mensajes enviados por los aspirantes a las principales alcaldías de Sonora a través de Twitter. Con Visor Político la Universidad de Sonora busca poner a disposición de los ciudadanos una plataforma que les permita analizar la presencia de los candidatos en Twitter, así como el impacto de sus mensajes en esta red social.
                <br>
                El objetivo principal de Visor Político Unison es ofrecer una herramienta de acercamiento entre la ciudadanía y los aspirantes a una elección popular, así como contribuir al fomento de la participación ciudadana.
                <br>
                Con este tipo de plataforma, Visor Político Unison se suma al esfuerzo de otras Universidades tales como el Observatorio Electoral de la UNAM<a href="#fuentes"><nobr>[1]</nobr></a>, Universidad de Guadalajara, entre otras.
                <br>
                En Visor Político Unison, los ciudadanos podrán seguir las actividades diarias, que a través de Twitter los aspirantes a las alcaldías municipales en Sonora llevan a cabo. Por ejemplo, los usuarios de la plataforma podrán obtener información relacionada con:
                <br>
                <ul>
                  <li type="disc">Número total de seguidores de cada candidato.</li>
                  <li type="disc">Número total de seguidores de cada candidato en el tiempo.
                  </li>
                  <li type="disc">Número total de tweets por candidato.</li>
                  <li type="disc">Número total de tweets en el tiempo.</li>
                  <li type="disc">Número total de tweets por semana.</li>
                  <li type="disc">Frecuencia de palabras (esperanza, educación, salud, trabajo y seguridad) utilizadas en sus tweets.</li>
                  <li type="disc">Impacto (positivo, negativo o neutro) del mensaje más retuiteado durante la semana por cada uno de los candidatos. </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="resSo" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Responsabilidad Social</h2>
              <p class="lead">La Universidad de Sonora constantemente busca el desarrollo de proyectos de impacto en la sociedad, que permitan potencializar su responsabilidad social universitaria que impulse una política de ética del desempeño de la comunidad universitaria (estudiantes, académicos y personal administrativo) a través de la gestión responsable de los impactos educativos, cognitivos, laborales, sociales y ambientales que la Universidad genera, estableciendo en todo momento un diálogo participativo con la sociedad con el fin de promover el Desarrollo Humano Sostenible. 
                <br>
                Visor Político Unison, tiene el firme propósito de promover la participación ciudadana y de brindar aportes significativos a la democracia. </p>
            </div>
          </div>
        </div>
      </section>

      <section id="info">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Acceso y Fuentes de Información</h2>
              <p class="lead">
                El acceso a Visor Político UNISON es completamente gratis, ya que trabaja con información obtenida de fuentes abiertas y de acceso público, lo cual permite que los datos sean presentados en forma estadística con la finalidad de que los usuarios puedan comparar, analizar y obtener sus propias conclusiones. Para poder acceder a la plataforma, el usuario sólo requiere contar con un dispositivo electrónico con acceso a internet. La fuente de información utilizada por Visor Político proviene directamente de las cuentas de Twitter de cada aspirante.
                <br>
                En esta ocasión, Visor Político Unison, analiza sólo 6 de los 72 municipios del Estado de Sonora. El criterio de selección de los municipios se estableció en base al número total de lista nominal, es decir, fueron considerados los municipios cuya lista nominal es superior a 100,000 habitantes. Los municipios que cumplieron dicho criterio fueron los siguientes<a href="#fuentes"><nobr>[3]</nobr></a>:
              </p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Municipio</th>
                    <th>Lista Nominal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>San Luis Río Colorado</th>
                    <th>150,429</th>
                  </tr>
                  <tr>
                    <th>Nogales</th>
                    <th>188,964</th>
                  </tr>
                  <tr>
                    <th>Hermosillo</th>
                    <th>598,083</th>
                  </tr>
                  <tr>
                    <th>Guaymas</th>
                    <th>116,046</th>
                  </tr>
                  <tr>
                    <th>Cajeme</th>
                    <th>319,994</th>
                  </tr>
                  <tr>
                    <th>Navojoa</th>
                    <th>121,511</th>
                  </tr>
                </tbody>
              </table>
              <p class="lead">
                <br>
                Los resultados mostrados en este sitio son completamente verificables y confiables. Es decir, a través de una solicitud se podrá acceder al código fuente del software con el que se programó la plataforma.
              </p>
            </div> 
          </div>
        </div>
      </section>

      <section id="integrantes" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Integrantes</h2>
              <p class="lead">
                Profesores del Departamento de Matemáticas:<br>
                Dr. Juan Pablo Soto Barrera<br>
                Dr. Julio Waissman Vilanova<br>
                <br>
                Alumnos de la Lic. en Ciencias de la Computación:<br>
                Francisco Enrique Córdova González <br>
                Carlos Alonso Hugues Murrieta <br>
                Erick Fernando López Fimbres <br>
                Jaime Antonio López González<br>
                Jorge Adrian Olmos Morales

              </p>
            </div> 
          </div>
        </div>
      </section>

      <section id="fuentes">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fuentes</h2>
              <p class="lead">
                [1] https://electoral.juridicas.unam.mx/mexico-2018<br>
                [2] http://www.observatorioelectoral.cucsh.udg.mx<br>
                [3] http://www.ieesonora.org.mx/elecciones/estadistica_y_cartografia_electoral/divisio
                n_municipal<br>
              </p>
            </div> 
          </div>
        </div>
      </section>



      <!-- Footer -->
      <footer class="py-5" style="background-color: #253876">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Unison 2018</p>
        </div>
        <!-- /.container -->
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom JavaScript for this theme -->
      <script src="js/scrolling-nav.js"></script>

  </body>

</html>
